$primary: #4250f0;
$secondary: #4a58ff;
$accent: #f06995;
$accent2: #25de8c;

$min_width: 320px;
$max_width: 1600px;
$min_font: 14px;
$max_font: 20px;

// breakpoints
$screen-sm: 576px;

$screen-md: 768px;

$screen-lg: 992px;

$screen-xl: 1200px;
