@import "../styles/utils";

.jobs {
  min-height: 45vh;
  position: relative;
  background: #f5f7fb;
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      width: 200px;
      height: 200px;
      fill: #17aaff;
    }
  }

  &__container {
    max-width: $max-width;
    height: 100%;
    margin: 0 auto;
    padding: 1.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include md {
      max-width: 100%;
      padding: 1.5rem 2.5rem;
    }
    @include sm {
      max-width: 100%;
      padding: 1.5rem 1.5rem;
    }
  }

  &__button {
    margin: 2rem;
    cursor: pointer;
    height: 60px;
    width: 250px;
    background: #00c87a;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 700;
    // padding: 1rem 3rem;
    // border-radius: 50px;
    // border: none;
    // font-size: 1rem;
    // font-weight: 500;
    // background: #17aaff;
    // color: white;
  }
}
